@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0 ;
    margin: 0;
}
html{
    font-size: 95.5%;
}
body{
        background-color: #b1a8a8;
}
@media (max-width:1080px){

}
@media (min-width:250px){
    
}

h1 {
    color:rgb(29, 44, 44);
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


h2, 
h3,
h4{
    color: blueviolet;
    font-weight: 600;
}
a{
    text-decoration: none;
}

header nav{
        background-color: rgb(123, 120, 126);
        padding: 5px    15px;
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: space-evenly;
    
}
            nav a{
                font-weight: 600;
                padding-right: 10px;
                margin: 30px;
                display: flex;
                    }
                        nav a:hover{
                            color: crimson;
                        }



header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    padding: 10px;
    }
main    div img{
    width: 400px;
    height: 320px;
    padding: 10px;
}

footer{
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
}




/* selector de clase */
.bg-gray{
    background-color:rgb(29, 44, 44) ;
}

.text-black{
    color: rgb(22, 20, 18);
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.logo{
    display: flex;
    height: 120px; 
    
}
.separador{
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* contenedores */
.contenedor{
    padding: 10px;
    border: 1px;
    display: flex;
}
/* productos */
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    .productos figure{
        width: 28%;
        box-shadow: 0 0 7px #111;
        margin-bottom: 20px;
        padding: 0 20px;
        text-align: center;
    }
        .productos figure figcaption{
            font-size: 18px;
            font-weight: 600;
        }
            .productos figure p{
                font-size: 15px;
                color: crimson;
                font-weight: 600;
                margin-bottom: 20px;
            }
                .productos figure button{
                    border: none;
                    padding: 3px;
                    background-color: rgb(196, 193, 55);
                    border-radius: 2px;
                }
                    .productos figure button:hover{
                        color: crimson;
                        background-color: grey;
                    }
                        .productos figure img{
                            width: 60%;
                            margin-bottom: 10px;
                            margin-top: 10px;
                        }


.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
    .actions button{
        margin-left: 10px;
        background-color: rgb(214, 204, 57);
        color:#111;
        padding: 10px;
        border: none;
        border-radius: 2px;
    }
        .actions input{
            padding: 6px;
            border-radius: 2px;
            border: none;
            background-color: antiquewhite;
        }
        .actions form{
            display: flex;

        }

.filters{
    padding: 0 20px 30px 30px;
}
        .filters a{
                color: antiquewhite;
                font-size: 15px;
                text-decoration: none;
                margin-bottom: 4px;
                text-transform: lowercase;
        }  
            .filters a:hover{
                color: crimson;
            }
        .filters span{
            display: block;
            color: #111;
            margin: 10px 0;
            letter-spacing: 1px;
            font-size: 12px;
        }
        .filters select{
            color: #111;
            border: none;
            background-color: antiquewhite;
            margin-bottom: 10px;
            font-size: 1em;
        }

.tienda{
    display: grid;
    grid-template-columns: 20% repeat(2,1fr);
    grid-template-rows: 80px repeat(3, 300px);
    gap: 5px;
    grid-template-areas:
    "actions actions actions"
    "filters prod1 prod2"
    "filters prod3 prod4"; 
}


    .tienda .actions{
        padding: 0 30px;
        grid-area: actions;
       
    }
    .tienda .filters{
        grid-area: filters;
        background-color: aqua;
    }
    .tienda .prod1{
        grid-area: prod1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
       
        
    }
        .tienda .prod1 img{
            display: flex;
            width: 25%;
            margin-bottom: 10px;
            margin-top: 10px;
            
        }
    .tienda .prod2{
        grid-area: prod2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
    }
        .tienda .prod2 img{
            display: flex;
            width: 25%;
            margin-bottom: 10px;
            margin-top: 10px;

        }

    .tienda .prod3{
        grid-area: prod3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
    }
        .tienda .prod3 img{
            display: flex;
            width: 25%;
            margin-bottom: 10px;
            margin-top: 10px;

        }

    .tienda .prod4{
        grid-area: prod4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
    }
        .tienda .prod4 img{
            display: flex;
            width: 25%;
            margin-bottom: 10px;
            margin-top: 10px;

        }


